/* Reset base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d7b62e;
  font-family: Arial, sans-serif;
}

/* Sezione orari + contatti */
.opening-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-radius: 50px;
  margin: 15px;
  padding: 20px 40px;
}

.opening-bar h3 {
  color: white;
  font-size: 20px;
}
/*bottone del contatti*/
.contact-btn {
    background-color: #d7b62e;   
    border: none;   
    border-radius: 35px;   
    padding: 15px 30px;   
    font-size: 18px;   
    cursor: pointer; 
}     
    
    .contact-btn:hover {   
    background-color: #c4a129; 
}
 /* stile del bottone creato insieme a chat gpt*/
button {
  background: #d7b62e;
  border: none;
  border-radius: 30px;
  color: black;
  padding: 15px 35px;
  font-size: 18px;
  box-shadow: 0 4px 0 #b49522;
  transition: all 0.2s ease;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 7px 0 #b49522;
}
button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 0 #b49522;
}


/* Sezione principale */
.information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  margin: 22px;
  padding: 30px;
  border-radius: 30px;
  color: white;
}

/* Logo */
#logo {
  background-color: white;
  border-radius: 50%;
  width: 180px;
  height: 180px;
}

/* Titolo */
h1 {
  text-align: center;
  font-size: 28px;
  line-height: 1.3;
}

/* Sezione contatti */
.indication {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.indication a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.indication a:hover {
  text-decoration: underline;
}

/* Social */
.social {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.instagram, .facebook {
  background-color: #d7b62e;
  border: none;
  border-radius: 30px;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  
}

.instagram:hover, .facebook:hover {
  background-color: #c4a129;
}
/*catalogo*/

.catalog{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px;
    margin-right: 85px;
    
}
.sale{
  background-color: black;
    color: white;
    border: none;
    border-radius: 68px;
    padding: 30px 37px;
    font-size: 25px;
    cursor: pointer;
   

}
.demolition{
    background-color: black;
    color: white;
    border: none;
    border-radius: 68px;
    padding: 30px 37px;
    font-size: 25px;
    cursor: pointer;
   

}

.recovery{
    background-color: black;
    color: white;
    border: none;
    border-radius: 68px;
    padding: 30px 37px;
    font-size: 25px;
    cursor: pointer;
   

}
.vehicle{
    
    background-color: black;
    color: white;
    border: none;
    border-radius: 68px;
    padding: 30px 37px;
    font-size: 25px;
    cursor: pointer;
}
   
/*container catalogo*/

.container-catalog {
  display: flex;
  justify-content: space-between; /* distribuisce lo spazio uniformemente */
  gap: 40px; /* distanza uguale tra i box */
  padding: 40px;
  margin-right: 8px;
  

.box{
background-color: black;
  width: 300px;
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.box h1 {
  text-align: center;
  font-size: 24px;
  color: #f1efef;
  margin-bottom: 40px;
}

.isabel {
  position: absolute;
 bottom: 70px;
    background-color: #f9c933;
    padding: 25px 50px;
    border-radius: 50px 50px;
    font-weight: bold;
    color: #000;
    font-size: 20px;
    margin-left: -100px;
}