*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d7b62e;
    
}
.flex{
    display: flex;
}


.opening-house{
    background-color: black;
    flex-basis: 100%;
    height: 140px;
    border-radius: 100px;
    margin: 15px;
    
    
}

h3{
    color: white;
    padding: 50px;
    font-size: 25px;
}

.contant-number{
    padding: 25px;
    border-radius: 35px;
    margin: 37px;
    display: flex;
    background-color: #d7b62e;
    

}
.information{
    background-color: black;
    height: 300px;
    margin: 22px;
    justify-content: space-between;
}

#logo{
    background-color: white;
    border-radius: 50%;
    margin: 50px;
    width: 200px;
    height: 200px;
}

h1{
    color: white;
    margin: 120px;
}
a{
    color: white;
    font-size: 20px;
}
.indication{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 100px ;
    justify-content: space-around;
    
    
}
.social{
    flex-direction: column;
    align-items: center;
    
}

.instagram{
    padding: 20px;
    background-color: #d7b62e;
    border-radius: 30px;
    font-size: 20px;
    margin: 50px;
}
.facebook{
    padding: 20px;
    background-color: #d7b62e;
    border-radius: 30px;
    font-size: 20px;
}